.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: #444; /* Dark grey background */
  color: #f4f4f4; /* Light grey text color */
}

.nav-links,
.nav-admin {
  list-style: none;
  padding: 0;
  display: flex;
  gap: 10px;
}

.nav-links li,
.nav-admin li {
  display: inline;
  margin: 0;
}

.nav-links a,
.nav-admin a {
  text-decoration: none;
  color: #f4f4f4; /* Light grey text color */
}

.nav-links a:hover,
.nav-admin a:hover {
  text-decoration: underline;
}

.nav-links li a,
.nav-admin li a {
  color: white;
  text-decoration: none;
  padding: 10px 20px;
  background-color: #555;
  border: none;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.nav-links li a:hover,
.nav-admin li a:hover {
  background-color: #666;
}